---
import { Image } from "@astrojs/image/components";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import { SEO } from "astro-seo";

export interface Props {
  title: string;
  ogTitle: string;
  padding?: boolean;
  ogImg?: string;
  ogImgAlt?: string;
  ogDesc?: string;
  alwaysScrollbar?: boolean;
}

const { title, ogTitle, padding, ogImg, ogImgAlt, ogDesc, alwaysScrollbar } =
  Astro.props;

let mainClass = padding === true || padding === undefined ? "pad" : "";
mainClass += " transition-fade";
const ogImgCleaned = ogImg ? ogImg : "/arkdex/assets/logo_rhodes_bg.png";
const ogImgAltCleaned = ogImgAlt ? ogImgAlt : "Rhodes Island Logo";
const ogDescCleaned = ogDesc ? ogDesc : "Arkinghts Operator Listing";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/arkdex/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- Preload Fonts -->
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
    />
    <!-- Swup -->
    <script>
      import Swup from "swup";
      import SwupA11yPlugin from "@swup/a11y-plugin";
      import SwupHeadPlugin from "@swup/head-plugin";
      import SwupScrollPlugin from "@swup/scroll-plugin";
      import SwupBodyClassPlugin from "@swup/body-class-plugin";
      import SwupScriptsPlugin from "@swup/scripts-plugin";

      const options = {
        doScrollingRightAway: true,
        animateScroll: false,
        shouldResetScrollPosition: (link: any) => !link.matches(".backlink"),
        plugins: [
          new SwupHeadPlugin(),
          new SwupA11yPlugin(),
          new SwupScrollPlugin(),
          new SwupBodyClassPlugin(),
          new SwupScriptsPlugin(),
        ],
      };

      const swup = new Swup(options);
    </script>
    <!-- HTML Meta Tags -->
    <SEO
      title={title}
      description={ogDescCleaned}
      openGraph={{
        basic: {
          title: ogTitle,
          type: "article",
          image: ogImgCleaned,
        },
        image: {
          alt: ogImgAltCleaned,
        },
        optional: {
          locale: "en_US",
          siteName: "Arkdex",
        },
      }}
    />
    <style lang="scss" is:global>
      // General Styles

      *,
      *::before,
      *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Open Sans", sans-serif;
      }

      // Webkit Scrollbar Styles

      *::-webkit-scrollbar {
        background-color: hsl(0, 0%, 93%);
        width: 0.75rem;
      }
      *::-webkit-scrollbar-thumb {
        background-color: hsl(0, 0%, 73%);
      }

      // General Styles

      body {
        background-color: var(--theme-bg);
        color: var(--theme-text);
      }

      img {
        display: block;
      }

      h1 {
        color: var(--theme-text-emphasis);
      }

      hr {
        border: none;
        border-bottom: 2px solid var(--theme-text-grey);
      }

      li {
        list-style: none;
      }

      button {
        border: none;
        cursor: pointer;
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: inherit;
        background-color: var(--theme-button);

        &:hover {
          background-color: var(--theme-button-hover);
        }

        &:active {
          background-color: var(--theme-button-active);
        }
      }

      a {
        color: var(--theme-text-link);
      }

      input[type="text"] {
        background-color: var(--theme-search-bg);
        border: 2px solid var(--theme-search-border);

        &:focus {
          background-color: var(--theme-search-bg-focus);
          border: 2px solid var(--theme-search-border-focus);
          outline: none;
        }
      }
    </style>
    <style lang="scss">
      // CSS variables

      :root {
        --color-hue-main: 190;
        --color-hue-alt: 250;
        --color-base-main: var(--color-hue-main), 45%;
        --color-alt-main: var(--color-hue-alt), 45%;
        --color-base-accent: var(--color-hue-main), 60%;
        --color-alt-accent: var(--color-hue-alt), 60%;
        --color-base-grey: var(--color-hue-main), 5%;
        --color-base-link: var(--color-hue-main), 45%;

        // Light mode
        --theme-header: hsl(var(--color-base-accent), 32%);
        --theme-header-button: hsl(var(--color-base-accent), 32%);
        --theme-header-button-hover: hsl(var(--color-base-accent), 40%);
        --theme-header-button-active: hsl(var(--color-base-accent), 38%);
        --theme-header-button-gap: hsl(var(--color-base-accent), 30%);
        --theme-header-text: hsl(var(--color-base-accent), 97%);
        --theme-header-text-hover: hsl(var(--color-base-accent), 100%);

        --theme-bg: hsl(var(--color-base-main), 95%);
        --theme-main: hsl(var(--color-base-main), 80%);
        --theme-card: hsl(var(--color-base-main), 88%);

        --theme-text: hsl(var(--color-base-main), 10%);
        --theme-text-accent: hsl(var(--color-alt-main), 35%);
        --theme-text-emphasis: hsl(var(--color-alt-main), 40%);
        --theme-text-grey: hsl(var(--color-base-grey), 35%);
        --theme-text-link: hsl(var(--color-base-link), 30%);

        --theme-tag: hsl(var(--color-alt-main), 35%);
        --theme-tag-text: hsl(var(--color-base-grey), 90%);
        --theme-tag-hover: hsl(var(--color-alt-main), 50%);

        --theme-button: hsl(var(--color-base-main), 55%);
        --theme-button-hover: hsl(var(--color-base-main), 50%);
        --theme-button-active: hsl(var(--color-base-main), 48%);
        --theme-button-gap: hsl(var(--color-base-main), 20%);

        --theme-search-bg: hsl(var(--color-base-main), 96%);
        --theme-search-bg-focus: hsl(var(--color-base-main), 95%);
        --theme-search-border: hsl(var(--color-base-main), 50%);
        --theme-search-border-focus: hsl(var(--color-base-main), 40%);

        --header-height: 3.75rem;
      }

      // Main Styles

      header {
        z-index: 10;
        position: relative;
        height: var(--header-height);
        display: flex;
        background-color: var(--theme-header);
        color: var(--theme-header-text);
        justify-content: space-between;
        gap: 1rem;
        padding-inline: 0.5rem;

        a {
          font-size: 1rem;
          color: inherit;
          text-decoration: none;
          transition: color 150ms ease;

          &:hover {
            color: var(--theme-header-text-hover);
          }
        }

        .logo > a,
        .logo > a:visited {
          padding: 0.25rem;
          height: 100%;
          display: flex;
          gap: 0.35rem;
          align-items: center;
          font-size: 1.5em;

          p {
            color: var(--theme-header-text);
          }

          .logo-container {
            height: 3rem;
            width: 3rem;

            img {
              height: 100%;
              width: 100%;
            }
          }
        }

        nav {
          display: flex;

          button {
            height: var(--header-height);
            width: var(--header-height);
            align-self: center;
            justify-content: center;
            align-items: center;
            display: none;
            background-color: transparent;
          }

          .nav-links {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 0.5rem;
            gap: 1rem;

            > li a {
              display: block;
              text-align: center;
              font-size: 1.25rem;
              padding: 0.5rem;
              border-radius: 0.5rem;
              background-color: var(--theme-header-button);

              &:hover {
                background-color: var(--theme-header-button-hover);
              }

              &:active {
                background-color: var(--theme-header-button-active);
              }
            }
          }
        }
      }

      main {
        position: relative;
        max-width: 75rem;
        min-height: calc(100vh - var(--header-height) - 1px);
        margin-inline: auto;
        background-color: var(--theme-main);
        box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.4);

        &[tabindex="-1"] {
          outline: none;
        }
      }

      .transition-fade {
        transition: 50ms ease-out;
        opacity: 1;
      }

      html.is-animating .transition-fade {
        opacity: 0;
      }

      .pad {
        padding: 1rem;
      }

      .always-scroll {
        overflow-y: scroll;
      }

      // Acessability

      .skip-main {
        position: absolute;
        z-index: 999;
        padding: 0.5rem;
        top: 0;
        left: 50%;
        translate: -50% -100%;
        background-color: var(--theme-card);

        &:focus {
          translate: -50%;
          transition: translate 250ms ease-out;
        }
      }

      // Media query for Mobile

      @media (max-width: 750px) {
        header {
          nav {
            position: relative;
            flex-direction: column;

            &:hover,
            &:focus-within {
              button {
                background-color: var(--theme-button-hover);
                pointer-events: none;

                &:active {
                  background-color: var(--theme-button-active);
                }

                & + .nav-links {
                  display: block;
                  height: auto;
                }
              }
            }

            button {
              display: flex;
            }

            .nav-links {
              display: none;
              position: absolute;
              right: 0;
              top: 100%;
              margin: 0;
              overflow: hidden;
              height: 0%;
              transition: height 250ms ease;
              box-shadow: 0 2px 2px rgba($color: #000000, $alpha: 0.25);

              > li {
                a {
                  padding: 0.5rem 1rem;
                  font-size: 1.75rem;
                  border-radius: 0;
                }
              }

              > * + * {
                border-top: 1px solid var(--theme-header-button-gap);
              }
            }
          }
        }
      }
    </style>
  </head>
  <body class={alwaysScrollbar === true ? " always-scroll" : ""}>
    <a href="#main" class="skip-main">Skip to main content</a>
    <header>
      <div class="logo">
        <a href="/arkdex" title="Home Page">
          <div class="logo-container">
            <Image
              src={"/arkdex/assets/logo_rhodes.png"}
              alt=""
              format={"webp"}
              width={72}
              height={72}
            />
          </div>
          <p>Fire's Arkdex</p>
        </a>
      </div>
      <nav>
        <button>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="36"
            width="36"
            viewBox="0 0 48 48"
            fill="white"
          >
            <path d="M6 36v-3h36v3Zm0-10.5v-3h36v3ZM6 15v-3h36v3Z"></path>
          </svg>
        </button>
        <ul class="nav-links">
          <li><a href="/arkdex" title="Home Page" class="backlink">Home</a></li>
          <li><a href="/arkdex/operators" class="backlink">Operators</a></li>
        </ul>
      </nav>
    </header>
    <main id="main">
      <div id="swup" class={mainClass}>
        <slot />
      </div>
    </main>
  </body>
</html>
